## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [2]:
import pandas as pd

**Load the Automobile dataset into variable "auto"**

In [4]:
auto=pd.read_csv('Automobile.csv')
auto

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

**Check the head of the DataFrame.**

In [12]:
import pandas as pd
df=pd.read_csv('Automobile.csv')
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

**How many rows and columns are there?**

In [13]:
df.shape

(201, 26)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   symboling            201 non-null    int64
 1   normalized_losses    201 non-null    int64
 2   make                 201 non-null    object
 3   fuel_type            201 non-null    object
 4   aspiration           201 non-null    object
 5   number_of_doors      201 non-null    object
 6   body_style           201 non-null    object
 7   drive_wheels         201 non-null    object
 8   engine_location      201 non-null    object
 9   wheel_base           201 non-null    float64
 10  length               201 non-null    float64
 11  width                201 non-null    float64
 12  height               201 non-null    float64
 13  curb_weight          201 non-null    int64
 14  engine_type          201 non-null    object
 15  number_of_cylinders  201 non-null    object
 16  engine_size          201 non-null    int64
 17  fuel_system          201 non-null    object
 18  bore                 201 non-null    float64
 19  stroke               201 non-null    float64
 20  compression_ratio    201 non-null    float64
 21  horsepower           201 non-null    int64
 22  peak_rpm             201 non-null    int64
 23  city_mpg             201 non-null    int64
 24  highway_mpg          201 non-null    int64
 25  price                201 non-null    int64
dtypes: float64(7), int64(9), object(10)
memory usage: 41.0+ KB

**What is the average Price of all cars in the dataset?**

In [15]:
avg = df['price'].mean()
print(avg)

13207.129353233831

**Which is the cheapest make and costliest make of car in the lot?**

In [16]:
cheap_make = df.loc[df.groupby('make')['price'].idxmin()]
print(cheap_make)

     symboling  normalized_losses           make fuel_type aspiration  \
0            3                168    alfa-romero       gas        std
3            2                164           audi       gas        std
9            2                192            bmw       gas        std
17           2                121      chevrolet       gas        std
20           1                118          dodge       gas        std
31           1                101          honda       gas        std
42           0                110          isuzu       gas        std
44           0                145         jaguar       gas        std
47           1                104          mazda       gas        std
64          -1                 93  mercedes-benz    diesel      turbo
72           1                140        mercury       gas      turbo
73           2                161     mitsubishi       gas        std
86           1                128         nissan       gas        std
104          0                161         peugot       gas        std
115          1                119       plymouth       gas        std
122          3                186        porsche       gas        std
126          0                129        renault       gas        std
128          3                150           saab       gas        std
134          2                 83         subaru       gas        std
146          1                 87         toyota       gas        std
178          2                122     volkswagen    diesel        std
190         -2                103          volvo       gas        std

    number_of_doors   body_style drive_wheels engine_location  wheel_base  \
0               two  convertible          rwd           front        88.6
3              four        sedan          fwd           front        99.8
9               two        sedan          rwd           front       101.2
17              two    hatchback          fwd           front        88.4
20              two    hatchback          fwd           front        93.7
31              two    hatchback          fwd           front        93.7
42             four        sedan          rwd           front        94.3
44             four        sedan          rwd           front       113.0
47              two    hatchback          fwd           front        93.1
64             four        sedan          rwd           front       110.0
72              two    hatchback          rwd           front       102.7
73              two    hatchback          fwd           front        93.7
86              two        sedan          fwd           front        94.5
104            four        sedan          rwd           front       107.9
115             two    hatchback          fwd           front        93.7
122             two    hatchback          rwd           front        94.5
126            four        wagon          fwd           front        96.1
128             two    hatchback          fwd           front        99.1
134             two    hatchback          fwd           front        93.7
146             two    hatchback          fwd           front        95.7
178             two        sedan          fwd           front        97.3
190            four        sedan          rwd           front       104.3

     ...  engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
0    ...          130         mpfi  3.47    2.68              9.00        111
3    ...          109         mpfi  3.19    3.40             10.00        102
9    ...          108         mpfi  3.50    2.80              8.80        101
17   ...           61         2bbl  2.91    3.03              9.50         48
20   ...           90         2bbl  2.97    3.23              9.41         68
31   ...           79         1bbl  2.91    3.07             10.10         60
42   ...          111         2bbl  3.31    3.23              8.50         78
44   ...          258         mpfi  3.63    4.17              8.10        176
47   ...           91         2bbl  3.03    3.15              9.00         68
64   ...          183          idi  3.58    3.64             21.50        123
72   ...          140         mpfi  3.78    3.12              8.00        175
73   ...           92         2bbl  2.97    3.23              9.40         68
86   ...           97         2bbl  3.15    3.29              9.40         69
104  ...          120         mpfi  3.46    3.19              8.40         97
115  ...           90         2bbl  2.97    3.23              9.40         68
122  ...          151         mpfi  3.94    3.11              9.50        143
126  ...          132         mpfi  3.46    3.90              8.70         90
128  ...          121         mpfi  3.54    3.07              9.31        110
134  ...           97         2bbl  3.62    2.36              9.00         69
146  ...           92         2bbl  3.05    3.03              9.00         62
178  ...           97          idi  3.01    3.40             23.00         52
190  ...          141         mpfi  3.78    3.15              9.50        114

     peak_rpm city_mpg  highway_mpg  price
0        5000       21           27  13495
3        5500       24           30  13950
9        5800       23           29  16430
17       5100       47           53   5151
20       5500       37           41   5572
31       5500       38           42   5399
42       4800       24           29   6785
44       4750       15           19  32250
47       5000       30           31   5195
64       4350       22           25  25552
72       5000       19           24  16503
73       5500       37           41   5389
86       5200       31           37   5499
104      5000       19           24  11900
115      5500       37           41   5572
122      5500       19           27  22018
126      5500       23           31   9295
128      5250       21           28  11850
134      4900       31           36   5118
146      4800       35           39   5348
178      4800       37           46   7775
190      5400       23           28  12940

[22 rows x 26 columns]

In [18]:
cost_make = df.loc[df.groupby('make')['price'].idxmax()]
print(cost_make)

     symboling  normalized_losses           make fuel_type aspiration  \
1            3                168    alfa-romero       gas        std
8            1                158           audi       gas      turbo
15           0                149            bmw       gas        std
19           0                 81      chevrolet       gas        std
28           3                145          dodge       gas      turbo
40           0                 85          honda       gas        std
43           2                110          isuzu       gas        std
46           0                115         jaguar       gas        std
63           0                105          mazda    diesel        std
71           1                140  mercedes-benz       gas        std
72           1                140        mercury       gas      turbo
80           3                139     mitsubishi       gas      turbo
102          3                194         nissan       gas      turbo
114          0                161         peugot       gas      turbo
121          3                141       plymouth       gas      turbo
125          3                128        porsche       gas        std
127          2                129        renault       gas        std
133          2                104           saab       gas      turbo
145          0                 85         subaru       gas      turbo
168          2                134         toyota       gas        std
188          0                132     volkswagen    diesel      turbo
200         -1                 95          volvo       gas      turbo

    number_of_doors   body_style drive_wheels engine_location  wheel_base  \
1               two  convertible          rwd           front        88.6
8              four        sedan          fwd           front       105.8
15              two        sedan          rwd           front       103.5
19             four        sedan          fwd           front        94.5
28              two    hatchback          fwd           front        95.9
40             four        sedan          fwd           front        96.5
43              two    hatchback          rwd           front        96.0
46              two        sedan          rwd           front       102.0
63             four        sedan          rwd           front       104.9
71              two      hardtop          rwd           front       112.0
72              two    hatchback          rwd           front       102.7
80              two    hatchback          fwd           front        95.9
102             two    hatchback          rwd           front        91.3
114            four        sedan          rwd           front       108.0
121             two    hatchback          rwd           front        95.9
125             two  convertible          rwd            rear        89.5
127             two    hatchback          fwd           front        96.1
133            four        sedan          fwd           front        99.1
145            four        wagon          4wd           front        96.9
168             two  convertible          rwd           front        98.4
188            four        sedan          fwd           front       100.4
200            four        sedan          rwd           front       109.1

     ...  engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
1    ...          130         mpfi  3.47    2.68               9.0        111
8    ...          131         mpfi  3.13    3.40               8.3        140
15   ...          209         mpfi  3.62    3.39               8.0        182
19   ...           90         2bbl  3.03    3.11               9.6         70
28   ...          156          mfi  3.60    3.90               7.0        145
40   ...          110         mpfi  3.15    3.58               9.0        101
43   ...          119         spfi  3.43    3.23               9.2         90
46   ...          326         mpfi  3.54    2.76              11.5        262
63   ...          134          idi  3.43    3.64              22.0         72
71   ...          304         mpfi  3.80    3.35               8.0        184
72   ...          140         mpfi  3.78    3.12               8.0        175
80   ...          156         spdi  3.59    3.86               7.0        145
102  ...          181         mpfi  3.43    3.27               7.8        200
114  ...          134         mpfi  3.61    3.21               7.0        142
121  ...          156         spdi  3.59    3.86               7.0        145
125  ...          194         mpfi  3.74    2.90               9.5        207
127  ...          132         mpfi  3.46    3.90               8.7         90
133  ...          121         mpfi  3.54    3.07               9.0        160
145  ...          108         mpfi  3.62    2.64               7.7        111
168  ...          146         mpfi  3.62    3.50               9.3        116
188  ...           97          idi  3.01    3.40              23.0         68
200  ...          141         mpfi  3.78    3.15               9.5        114

     peak_rpm city_mpg  highway_mpg  price
1        5000       21           27  16500
8        5500       17           20  23875
15       5400       16           22  41315
19       5400       38           43   6575
28       5000       19           24  12964
40       5800       24           28  12945
43       5000       24           29  11048
46       5000       13           17  36000
63       4200       31           39  18344
71       4500       14           16  45400
72       5000       19           24  16503
80       5000       19           24  14869
102      5200       17           23  19699
114      5600       18           24  18150
121      5000       19           24  12764
125      5900       17           25  37028
127      5500       23           31   9895
133      5500       19           26  18620
145      4800       23           23  11694
168      4800       24           30  17669
188      4500       33           38  13845
200      5400       19           25  22625

[22 rows x 26 columns]

**How many cars have horsepower greater than 100?**

In [27]:


cars_hp=df[df['horsepower']>100]
num=cars_hp.shape[0]
print(num)

90

**How many hatchback cars are in the dataset ?**

In [29]:
count=df[df['body_style']=='hatchback']

In [31]:
count.shape[0]

68

**What are the 3 most commonly found cars in the dataset?**

In [33]:
most=df['make'].value_counts()
most

make
toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
plymouth          7
audi              6
saab              6
porsche           4
jaguar            3
chevrolet         3
alfa-romero       3
isuzu             2
renault           2
mercury           1
Name: count, dtype: int64

In [34]:
most.head(3)

make
toyota    32
nissan    18
mazda     17
Name: count, dtype: int64

**Someone purchased a car for 7099, what is the make of the car?**

In [39]:
car=df[df['price']==7099]['make']
car

87    nissan
Name: make, dtype: object

**Which cars are priced greater than 40000?**

In [38]:
high=df[df['price']>40000]['make']
high

15              bmw
70    mercedes-benz
71    mercedes-benz
Name: make, dtype: object

**Which are the cars that are both a sedan and priced less than 7000?**

In [47]:
car_name = df[(df['body_style'] == 'sedan') & (df['price'] < 7000)]

car_name = car_name[['make', 'body_style']]
print(car_name)

           make body_style
19    chevrolet      sedan
24        dodge      sedan
42        isuzu      sedan
50        mazda      sedan
82   mitsubishi      sedan
86       nissan      sedan
88       nissan      sedan
89       nissan      sedan
118    plymouth      sedan
152      toyota      sedan

 **Count the number of unique values in the `fuel_type` column.**

In [50]:
uni=df['fuel_type'].value_counts()
uni

fuel_type
gas       181
diesel     20
Name: count, dtype: int64

**List all the cars that have a horsepower between 100 and 200, and display their `make`, `horsepower`, and `price`.**

In [55]:
list = df[(df['horsepower'] >= 100) & (df['horsepower'] <= 200)]
list = list[['make', 'horsepower', 'price']]
print(list)

            make  horsepower  price
0    alfa-romero         111  13495
1    alfa-romero         111  16500
2    alfa-romero         154  16500
3           audi         102  13950
4           audi         115  17450
..           ...         ...    ...
196        volvo         114  16845
197        volvo         160  19045
198        volvo         134  21485
199        volvo         106  22470
200        volvo         114  22625

[88 rows x 3 columns]

**Find the average `city_mpg` and `highway_mpg` for each `body_style`.**

In [56]:
avg=df.groupby('body_style')[['city_mpg','highway_mpg']].mean()
avg

              city_mpg  highway_mpg
body_style
convertible  20.500000    26.000000
hardtop      21.625000    27.250000
hatchback    26.602941    32.382353
sedan        25.053191    30.574468
wagon        24.040000    28.720000

**What is the median `price` for each `make`?**

In [60]:
med=df.groupby('make')['price'].median()
med

make
alfa-romero      16500.0
audi             17580.0
bmw              22835.0
chevrolet         6295.0
dodge             7609.0
honda             7295.0
isuzu             8916.5
jaguar           35550.0
mazda            10595.0
mercedes-benz    32892.0
mercury          16503.0
mitsubishi        8499.0
nissan            8124.0
peugot           16630.0
plymouth          7609.0
porsche          33278.0
renault           9595.0
saab             15275.0
subaru            7894.0
toyota            9103.0
volkswagen        9737.5
volvo            18420.0
Name: price, dtype: float64

**List all cars that have a `wheel_base` greater than 100 and a `curb_weight` less than 2500.**

In [64]:
listing=df[(df['wheel_base']>=100) & (df['curb_weight']<=2500)]
listing=listing[['make','wheel_base','curb_weight']]
listing

       make  wheel_base  curb_weight
9       bmw       101.2         2395
10      bmw       101.2         2395
169  toyota       102.4         2326
170  toyota       102.4         2480
171  toyota       102.4         2414
172  toyota       102.4         2414
173  toyota       102.4         2458

**Create a new column `price_per_hp` that calculates the price of the car per horsepower.**

In [68]:
df['price_per_hp']=df['price']/df['horsepower']
print(df[['price_per_hp','make','price','horsepower']])

     price_per_hp         make  price  horsepower
0      121.576577  alfa-romero  13495         111
1      148.648649  alfa-romero  16500         111
2      107.142857  alfa-romero  16500         154
3      136.764706         audi  13950         102
4      151.739130         audi  17450         115
..            ...          ...    ...         ...
196    147.763158        volvo  16845         114
197    119.031250        volvo  19045         160
198    160.335821        volvo  21485         134
199    211.981132        volvo  22470         106
200    198.464912        volvo  22625         114

[201 rows x 4 columns]

**Count how many cars have a `number_of_doors` as `four`.**

In [73]:
counting=df[df['number_of_doors']=='four']['make'].shape[0]
counting

114

**Find the top 5 cars based on their `highway_mpg` and `price`.**

In [75]:
top = df.sort_values(by=['highway_mpg', 'price'], ascending=[False, False])
top.head(5)

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price,price_per_hp
29,2,137,honda,gas,std,two,hatchback,fwd,front,86.6,...,1bbl,2.91,3.41,9.6,58,4800,49,54,6479,111.706897
17,2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,2bbl,2.91,3.03,9.5,48,5100,47,53,5151,107.312500
87,1,128,nissan,diesel,std,two,sedan,fwd,front,94.5,...,idi,2.99,3.47,21.9,55,4800,45,50,7099,129.072727
155,0,91,toyota,diesel,std,four,hatchback,fwd,front,95.7,...,idi,3.27,3.35,22.5,56,4500,38,47,7788,139.071429
156,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,2bbl,3.19,3.03,9.0,70,4800,38,47,7738,110.542857

**How many cars have missing values in the `normalized_losses` column?**

In [80]:
miss=df['normalized_losses'].isnull().sum()
print(miss)

0

**Create a new column `car_age` that calculates the age of the car based on the `year_of_manufacture` (assume the current year is 2025).**

In [85]:

df['year_of_manufacture'] = 2020  
df['car_age'] = 2025 - df['year_of_manufacture']
print(df[['make', 'year_of_manufacture', 'car_age']])

            make  year_of_manufacture  car_age
0    alfa-romero                 2020        5
1    alfa-romero                 2020        5
2    alfa-romero                 2020        5
3           audi                 2020        5
4           audi                 2020        5
..           ...                  ...      ...
196        volvo                 2020        5
197        volvo                 2020        5
198        volvo                 2020        5
199        volvo                 2020        5
200        volvo                 2020        5

[201 rows x 3 columns]

### The END